<div class="row">
    <div class="col-8">
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)] = "serverName"> -->
        <input type="text" class="form-control" #serverName>

        <label>Server Content</label>
        <!-- <input type="text" class="form-control" [(ngModel)] = "serverContent">-->
        <input type="text" class="form-control" #serverContent>
        <br> 
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" (click) = "onClickAddServer(serverName,serverContent)">Add Server</button> &nbsp;
                <button class="btn btn-primary" (click) = "onClickAddServerBlueprint(serverName,serverContent)">Add Server Blueprint</button>
            </div>
        </div>
    </div>
</div>