<div class="row">
    <div class="col-sm-12">
        <p>Name: {{ name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <a [routerLink] = "['/shopping-list','ownAi']"
        [queryParams] = "{allowAdd: 'true'}"
        [fragment] = "'yes'">
        <button class="btn btn-primary">Add ownAi</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit) = "onAddItem(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control" 
                    ngModel 
                    name="name"
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="Amount" 
                    class="form-control" 
                    ngModel 
                    name="amount"
                    required
                    pattern="[1-9][0-9]*$">
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-success me-2" type="submit" [disabled]="!form.valid">
                        {{ editMode ? 'Update' : 'Add' }}
                    </button>
                    <button 
                    class="btn btn-danger me-2" 
                    type="button"
                    *ngIf="editMode"
                    (click)="onDelete()">Delete</button>
                    <button 
                    class="btn btn-primary" 
                    type="button"
                    (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>